/* Pomodoro Clock Styles */

body {
    background-color: ##fdf3e7;    
}

h1 {
    text-align: center;
}

#clock {
    
    padding: 5px;  
    font-size: 100px;
    text-align: center;
   /* border: 2px solid black; */
    
}

#start {
    border: 2px solid aquamarine;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}


.center {
    margin: auto;
    width: 50%;    
    padding: 10px;
}
