/* Pomodoro Clock Styles */

/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: #7B1FA2;
    color: #FFFFFF;
    font-family: roboto;
    font-weight: 200;
}

h1 {
    font-size: 40px;
    text-align: center;
    
}

#clock {
    display: block;    
    font-size: 100px;
    text-align: center;   
}

#start {
    text-align: center;
    font-size: 30px;    
    cursor: pointer;
}

/* Session status message display*/
#status {
    font-size: 26px;
    text-align: center;    
}

span {
    padding-right: 8px;
}

/* Remove right side arrow buttons */
input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;    
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    border-bottom: none;
}

.color-pink {
    background-color: #FF4081;
}
